.margin{
    margin-left: 100px;
}
 
.kotak{
	background: rgb(115, 115, 121);
	width: 1100px;
	height: 200px;
	margin: 30px;
}
 
.gradient {
    background: linear-gradient(black, rgb(0, 102, 255));
}